.category-page {
  width: $content-width;
  padding-bottom: 13.75rem;
  @media (max-width: $sm) {
    width: 100%;
    padding: 0 1.4rem;
  }
  .category__back {
    position: absolute;
    height: 15rem;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }

    @media (max-width: $sm) {
      display: none;
    }
  }
  .category__back-mob {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
    position: absolute;
    height: 8.75rem;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
    @media (max-width: $sm) {
      display: block;
    }
  }

  .breadcrumbs {
    background: none;
    border-top: none;

    @media (max-width: $sm) {
      margin: 0;
    }
  }
  &__title {
    position: relative;
    color: #fff;
    font-family: $f-secondary;
    font-size: 3rem;
    line-height: 100%;
    margin-bottom: 6rem;
    @media (max-width: $sm) {
      margin-bottom: 3.5rem;
    }
  }
  &__articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &-article {
    max-width: calc((100% - 2rem) / 2);
    margin-bottom: 1rem;
    color: #fff;
    &:nth-child(even) {
      margin-left: 1.5rem;
    }
    @media (max-width: $sm) {
      max-width: 100%;
      &:nth-child(even) {
        margin-left: 0;
      }
    }
    &__preview {
      position: relative;
      height: 21.875rem;
      width: 100%;

      @media (max-width: $sm) {
        height: 9.375rem;
      }
    }
    &-content {
      background: rgba(89, 100, 117, 0.2);
      padding: 1.125rem;

      @media (max-width: $sm) {
        padding: 0.75rem;
      }
    }
    &__title {
      font-size: 1.25rem;
    }
    &__text {
      color: #b9b9b9;
      font-size: 1rem;
    }
    &-bottom {
      margin-top: 2rem;
      display: flex;
      align-items: center;
    }
    &__author {
      font-size: 0.875rem;
      line-height: 1rem;
      color: #b9b9b9;
      font-weight: bold;
      @media (max-width: $sm) {
        font-size: 0.675rem;
      }
    }
    &__date {
      font-size: 0.875rem;
      line-height: 1rem;
      color: rgba(185, 185, 185, 0.5);
      margin-left: 1rem;
      @media (max-width: $sm) {
        font-size: 0.675rem;
        margin-left: 0.5rem;
      }
    }
    &__more {
      margin-left: auto;
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: $c-primary;
      @media (max-width: $sm) {
        font-size: 0.875rem;
      }
      svg {
        width: 0.625rem;
        height: 1rem;
        margin-left: 0.5rem;

        @media (max-width: $sm) {
          margin-left: 0.25rem;
          height: 0.625rem;
        }
      }
    }
  }
}
